.joke-container {
  background-color: #ffffff;
  height: 70%;
  width: 70%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: 'joke'
                       'button';
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
}

.joke-text-container {
  grid-area: joke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joke-text-container > p {
  padding: 2em;
  font-size: 1.65em;
}

.joke-button-container {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
  color: #ffffff;
  background-color: #404040;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button:focus {
  outline: none;
  border: none;
}